body {
    cursor: help;
    background-color: #e5e5f7;
    opacity: 0.9;
    background-image: radial-gradient(#818181 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
    }
    .check-list {
      margin: 0;
      padding-left: 1.2rem;
      margin-left: 25%;
      margin-right: 25%;
    }
    
    .check-list li {
      background: #fff;
      position: relative;
      list-style-type: none;
      padding-left: 2.5rem;
      margin-bottom: 0.5rem;
    }
    
    .check-list li:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: -2px;
        width: 5px;
        height: 11px;
        border-width: 0 2px 2px 0;
        border-style: solid;
        border-color: #00a8a8;
        transform-origin: bottom left;
        transform: rotate(45deg);
    }
    .heading{
        background-color: #CA8E35;
        color: wheat;
        font-size: 24px;
        margin-left: 25%;
        margin-right: 25%;    }
        .yaserimg{
          margin: auto;
          width: 25%;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 25px;
        }
    /* ul {
          margin-left: 25%;
          margin-right: 25%;
    
      background: #CA4335;
      padding: 20px;
    }
    ul li {
      background: #D5685D;
      padding: 5px;
      margin-left: 35px;
    }*/
    .paragraph{
      margin-left: 25%;
      margin-right: 25%;
    }
    .name{
      text-align: center;
    }
    /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 14%;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.longPar {
  width: 400px;
  }
.far.fa-smile-wink {
    color: #CA8E35 ;
    font-size: 30px;
    }
.my-0 {
  margin-left: 10%;
  }
.my-md-0 {
    margin-left: 20%;
    margin: auto;
  }

.text-dark {
  text-decoration-style: wavy;
  text-decoration-color: #fd7e14;
  }
  .text-dark {
    margin-right: 50px;
    }
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(149, 149, 149, 0.46);
      }

  .logoName
  {
    font-family: 'Ephesis', cursive; 
  }
  .px-md-4 {
    margin: 1%;
    }
.menu1:hover {
      background: #CA8E35;
      color:#000;
      font-weight: bold;
      }
/* UIW Button colors */
.btn.uiw-btn {
  border-color: #aa1010;
  color: #aa1010;
  font-weight: bold;
  margin-right: 10%;
  }
.btn.uiw-btn:hover {
    border-color: #aa1010;
    color: #fff;
    background: #89191c;
    }
.socialICon {
      margin: 5px;
      text-decoration: none;
      color: #CA8E35;
      }
      body {
        background-color: #9575CD
    }
    
    .scroll {
        color: #fff;
        margin-top: 100px
    }
    
    #toTopBtn {
        position: fixed;
        bottom: 26px;
        right: 39px;
        z-index: 98;
        padding: 21px;
        background-color: #CA8E35;
    }
    
    .js .cd-top--fade-out {
        opacity: .5
    }
    
    .js .cd-top--is-visible {
        visibility: visible;
        opacity: 1
    }
    
    .js .cd-top {
        visibility: hidden;
        opacity: 0;
        transition: opacity .3s, visibility .3s, background-color .3s
    }
    
    .cd-top {
        position: fixed;
        bottom: 20px;
        bottom: var(--cd-back-to-top-margin);
        right: 20px;
        right: var(--cd-back-to-top-margin);
        display: inline-block;
        height: 40px;
        height: var(--cd-back-to-top-size);
        width: 40px;
        width: var(--cd-back-to-top-size);
        box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
        background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
        background-color: hsla(5, 76%, 62%, .8);
        background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
    }
.the-body {
  margin: 40px 5%;
  flex: none;
      }
.mb-1 {
        margin-top: 10px;
   }
.roundedimg {
  border-top-right-radius: 6.25rem;
  border-bottom-right-radius: 6.25rem;
  width: -moz-available;
    }
.index-card {
      border-top-right-radius: 6.25rem !important;
      border-bottom-right-radius: 6.25rem !important;
      margin-right: 15%;
      margin-top: 100px;
  }
footer {
    margin-top: 60px;
    }
.copyright {
  text-transform: uppercase;
}

  /* btn1 index style*/
  .btn-1 {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Created by http://grohit.com/  */
.btn-1 a {
  text-decoration: none;
  border: 2px solid #010100;
  padding: 15px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}

span {
  position: relative;
  /* z-index coz when we put bg to before and after this span text will not be visible */
  z-index: 3;
}

/* btn-1 homepage styles */

.btn-1 a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  /*100% plus double the times left values*/
  height: calc(100% - 10px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.btn-1 a:hover::before {
  transform: scaleY(0);
}

.btn-1 a::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  /*100% plus double the times left values*/
  height: calc(100% + 10px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}
/* Created by http://grohit.com/  */

.btn-1 a:hover::after {
  transform: scaleX(0);
}
/* finish btn-1 */
.list-group {
  margin: 0 100px;
}
/* Button 1 styles */

.nextButton {
	height: 100%;
	display: flex;
	align-items: center;
  justify-content: center;
  margin-right: 15%;
  margin-top: 50px;
}
.animated-word {
	font-family: Helvetica;
	font-weight: bold;
	font-size: 100px;
	text-align: center;
	color: #202125;
  cursor: pointer;
  max-width: 156px; 
  width: 100%; 
  outline: 3px solid;
  outline-color: rgba(71, 126, 232,0.5);
  outline-offset: 25px;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
  margin-bottom: 10%;

}

.animated-word:hover {
	color: rgba(71, 126, 232, 0.7);
  outline-color: rgba(71, 126, 232, 0);
  outline-offset: 300px;
}

/* page 3 form CSS */
.containerForm{
  max-width: 50%;
  margin: auto;
}
.newsletter-subscribe {
  color:#313437;
  background-color:#fff;
  padding:50px 0;
  margin-top: 5%;
  margin: 100px;
}

.newsletter-subscribe p {
  color:#7d8285;
  line-height:1.5;
}

.newsletter-subscribe h2 {
  font-size: 33px;
  font-weight:bold;
  margin-bottom:25px;
  line-height:1.5;
  padding-top:0;
  margin-top:0;
  color:inherit;
  font-family: 'Pacifico', cursive;
}

.newsletter-subscribe .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 25px;
}

.newsletter-subscribe .intro p {
  margin-bottom:35px;
}

.newsletter-subscribe form {
  justify-content:center;
}

.newsletter-subscribe form .form-control {
  background:#eff1f4;
  border:none;
  border-radius:3px;
  box-shadow:none;
  outline:none;
  color:inherit;
  text-indent:9px;
  height:45px;
  margin-right:10px;
  min-width:250px;
}

.newsletter-subscribe form .btn {
  padding:16px 32px;
  border:none;
  background:none;
  box-shadow:none;
  text-shadow:none;
  opacity:0.9;
  text-transform:uppercase;
  font-weight:bold;
  font-size:13px;
  letter-spacing:0.4px;
  line-height:1;
}

.newsletter-subscribe form .btn:hover {
  opacity:1;
}

.newsletter-subscribe form .btn:active {
  transform:translateY(1px);
}

.newsletter-subscribe form .btn-primary {
  background-color: #CA8E35 !important;
  color: #fff;
  outline: none !important;
  margin-top: 20px;
  border-top-left-radius: 15%;
}
/* btn page 2 */
.text-box {
  margin-left: 42%;
  margin-top: 5px;
  margin-bottom: 20px;
}
.btn2.btn2-white.btn2-animate {
  background: aliceblue;
  font-weight: bold;
  }

.btn2:link,
.btn2:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
}

.btn2:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn2:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn2-white {
  background-color: #fff;
  color: #777;
}

.btn2::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn2-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn2-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}