.logo {
    margin-top: 10px;
    }
    .mainText{
        margin-top: 30px;
        margin-bottom: 40px;
    }
.paragraph {
    margin-right: 40%;
    }

.hrShort {
    width: 20%;
    }
.copyRight {
    color:#858383;
}