.logoIcon{
    float:left;
    margin-right: 10px;
}
.mainText{
    margin-top: 30px;
    margin-bottom: 40px;
}
.bg-light {
    margin-top: 5px;
    padding-left: 10%;
  }
  
  @media (min-width: 992px) {
    .my-lg-0 {
      display: block ruby;
      margin-left: 20%;
    }
  }
  .btn {
    vertical-align:inherit;
   }
   .navbar-expand-md .navbar-nav {
    margin-left: 10%;
    }
  .dropdown-menu {
    border: 1px solid rgba(16, 124, 241, 0.25);
      }
  .nav-item {
     margin-left: 40px;
      }
  .btn.btn-secondary.btn-sm {
      margin-right: 20%;
      }
      .btn-secondary:hover{
        background-color: #107cf1;
        }
  .dropdown-item:hover {
    background-color: #107cf1;
    font-weight: bold;
    color: #f8f9fa;
  }
  .nav-item:hover {
    font-weight: bold;
    }